<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ahoy Deploy</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.1/buzz.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/faye/client.js"></script>
  <script src="/javascript/moment.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=sunburst"></script>
  <link rel="stylesheet" href="/css/tachyons.min.css">
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="avenir dark-red">

  <div class="w-100 pa2" style="text-align:center;">
    <h1 class='f1'>Ahoy Deploy: A Deployment Dashboard</h1>
  </div>

  <div class="fl w-25">&nbsp;</div>

  <div class="fl w-50">
    <div id='tutorialContainer' class="mt5 dark-gray">

      <h2>What is this?</h2>
      <p>
        A dashboard for recording and displaying your deployments by simple <code>curl</code><br> It makes loud sounds.
      </p>

      <h2>Usage</h2>
      <ol>
        <li>Go to <code><%= request.url %>YOUR-ORG-NAME-HERE</code> (that's your dashboard)</li>
        <li>Send a GET to
          <%= request.url %>YOUR-ORG-NAME-HERE/deploy?message=Deployed <br>(this adds a deployment to the dashboard)</li>
      </ol>

      <h2>More Examples</h2>
      <p>
        For a working example, with curl syntax see these example pages:
        <ul>
          <% %w{my-company-name another-company-name}.each do |company_name| %>
            <li>
              <a target="_blank" href="<%= request.url %><%= company_name %>">
                <%= request.url %>
                  <%= company_name %>
              </a>
            </li>
            <% end %>
        </ul>
      </p>
    </div>
  </div>
</body>

</html>
